/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/config/database.php
/public/images/
/public/videos/
/public/hls/
/public/audio/
/storage/xml_dumps/*
/storage
storage
composer.lock
npm-debug.log
composer.phar
*.log
config/database.php
